# Ignore Visual Studio files and folders inside the src directory
src/.vs/
src/*.vs/
src/**/*.user
src/**/*.suo
src/**/*.cache
src/**/*.log
src/**/*.pdb
src/**/*.obj
src/**/*.dll
src/**/*.exe
src/**/*.ipch
src/**/*.tlog
src/**/*.lastbuildstate
src/**/*.opensdf
src/**/*.sdf
src/**/*.suo
src/**/*.vcxproj.user
src/**/*.VC.db
src/**/*.VC.opendb

# Ignore Visual Studio Code files and workspace settings inside src
src/**/*.vscode/
src/**/*.code-workspace

# Ignore build output folders inside src
src/**/bin/
src/**/obj/
src/**/Debug/
src/**/Release/
