# Ignore Visual Studio files
.vs/
*.user
*.suo

# Ignore Visual Studio Code workspace settings
.vscode/
*.code-workspace

# Ignore build output folders
**/bin/
**/obj/
**/Debug/
**/Release/

# Ignore NuGet Packages
*.nupkg
packages/
!packages/repositories.config

# Ignore Rider IDE files (if applicable)
.idea/

# Ignore temporary files
*.log
*.cache
*.pdb
*.pidb
*.mdb
*.opendb
*.VC.db
*.VC.opendb
*.dbmdl

# Ignore Resharper files
_ReSharper.Caches/

# Ignore app-specific files
Api/appsettings*.json
Api/Properties/launchSettings.json

# Ignore Unit Test output
Application.UnitTests/bin/
Application.UnitTests/obj/

# Ignore Solution-specific files
*.vs/
*.sln.docstates
